<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <a href="/" class="footer-logo">
                    <%= social_links[0].title %> <span> EVENTS </span>
                </a>
                <div class="footer-about">
                    <p>
                        <%= social_links[0].description %>
                    </p>
                </div>
                <div class="social-links">
                    <a href="<%= social_links[0].facebook %>" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="<%= social_links[0].twitter %>" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="<%= social_links[0].instagram %>" class="social-link"><i class="fab fa-instagram"></i></a>
                    <a href="<%= social_links[0].linkedin %>" class="social-link"><i class="fab fa-linkedin-in"></i></a>
                    <a href="<%= social_links[0].youtube %>" class="social-link"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 mb-5 mb-md-0">
                <div class="footer-links">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/packages">Packages</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 mb-5 mb-md-0">
                <div class="footer-links">
                    <h5>Important Links</h5>
                    <ul>
                        <li><a href="/privacy">Privacy Policy</a>
                        </li>
                        <li><a href="/terms">Terms & Conditions</a>
                        </li>
                        <li><a href="/FAQ">FAQ</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li>
                            <% if (typeof data !=="undefined" && data) { %>
                                <a href="/book_event">Book an Event</a>
                                <% } else { %>
                                    <a href="/login">Book an Event</a>
                                    <% } %>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-4">
                <div class="footer-links">
                    <h5>Our Address</h5>

                    <ul class="footer-contact">
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <span>
                                <%= contact_info[0].address %>
                            </span>
                        </li>

                        <li>
                            <i class="bi bi-telephone-fill"></i>
                            <a href="tel:+91<%= contact_info[0].phone %>">+91 <%= contact_info[0].phone %></a>
                        </li>

                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:<%= contact_info[0].email %>">
                                <%= contact_info[0].email %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>




        </div>

        <div class="footer-bottom">
            <p>&copy; <%= social_links[0].copywrite %>
            </p>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>

</body>

</html>